html, body {

    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "Oxygen", sans-serif;
    /* overflow-x: hidden; */

}

/* body {

    padding-top: 20px;

} */


#section-aboutme, #section-skills, #section-projects, #section-contact {

    padding-top: 70px;
    padding-bottom: 70px;
    background: #b2bec3;
    font-family: "Oxygen", sans-serif;
    
}

#section-aboutme, #section-skills, #section-contact {

    height: 100vh;

}

#jumbo {

    background-image: url(../images/jumbobg.JPG);
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0;
    bottom: 0;
    margin-bottom: 0px;
    height: 100vh;
    /* z-index: -10; */

}

#jumbo-overlay { 

    /* position: absolute;
    background-color: rgba(128,128,128,0.15);
    top: 0;
    bottom: 0;
    margin-bottom: 0px;
    height: 100%; 
    max-width: 100%;
     z-index: -5;  */


}  

#jumbohead {

    font-family: "Oxygen", sans-serif;
    text-align: center;
    font-size: 8.9vh;
    color: #37474F;

}

#viewButt {

    padding-top: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#nbar {

    background-color: silver;

}

#nLink li {

    font-family: "Oxygen", sans-serif;

}

#nLink a:hover {

    color: #f7f1e3;
    background-color: #9c88ff;

}

#section-aboutme {

    /* margin-top: 20px; */
    padding-top: 70px;

}

#bio {

    margin-top: 20px;

}

#bioPic {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    max-width: 25%;
    max-height: auto;
    padding-bottom: 30px;
    border-radius: 50%;

}

#bioDesc h1 {

    font-family: "Oxygen", sans-serif;
    text-align: center;
    line-height: 2em;

}

#iconSect, #progressSect {

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;

}

#iconGroup1, #iconGroup2 {

    height: 100px;
    width: 100px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;

}

.carousel-item, #carouImg {

    width: 100%;
    height: auto;

}

.carousel-caption {

    width: 100%;

}

#depLink, #codeLink{

    margin-top: 30px;

}

#projectTitle {

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
    margin-bottom: 20px;

}

#projectName {

    text-align: center;
    font-size: 4em;
    margin-right: 50px;
    margin-left: 50px;

}

#contactD {

    text-align: center;
    color: #485460;
    font-family: "Oxygen", sans-serif;
    line-height: 4.5em;

}

#contactD h1 {

    font-size: 5em;
    margin-bottom: 5px;

}

#contactD h2 {

    font-size: 2em;

}

#emailIcon, #githubIcon, #linkedinIcon {

    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;

}

#emailIcon {

    color: #ff4757;

}

#githubIcon {

    color: #2f3542;

}

#linkedIcon {

    color: #3742fa;

}






